header {
    color: white;
    background-color: rgb(246, 154, 169);
    padding: 1.5% 1.5%;
    display: flex;
    font-size: clamp(0.7rem, 1.2vw, 1.5rem); 
}

header > a {
    color: white;
    text-decoration: none;
}

header > i{
    color: rgb(28, 26, 97);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

header > i:hover{
    color: white
}