
.checkout-page {
    margin-top: 20px;
    text-align: center;
}

.checkout-page > h1,h3 {
/*    font-size: 1.7vw; */
    font-size: clamp(1rem, 1.7vw, 2rem);
}

.cart-items {
    display: flex;
    padding: 10px;
/*    background-color: red; */
    height: 100px;

}

.cart-items > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70%;

}

.bin-image {
    margin-top: auto;
    margin-bottom: auto;    
    margin-right: 1%;
}

.bin-image:hover {
    background-color: palevioletred;
}


@media only screen and (max-width: 750px) {

    .cart-items > p {
        margin-left: 60%;
    }
  }